.container{
    width: 1440px;
    margin: 0 auto;
}
.b3{
    display: flex;
    gap: 14px;
    margin-top: -60px;
    margin-left: 135px;
    color: #000000C9;
}
.b4{
    display: flex;
    gap: 30px;
    margin-top: -60px;
    margin-left: 730px;
    color: #000000C9;
}
.b4 .b5{
    margin-top: 20px;
}
.b2 .b6{
    margin-left: 706px;
    margin-top: -120px;
    margin-bottom: 50px;
}
.b2 .b7{
    margin-left: 130px;
    margin-bottom: 55px;
    margin-top: -35px;
}
.b2 .b8{
    margin-left: 400px;
    margin-top: -40px;
    margin-bottom: 45px;
}
.b10{
    color: #2B1414;
    display: flex;
    margin-top: 30px;
    gap: 45px;
    margin-left: 160px;
    font-size: 14px;
}
.b10 .b11{
    margin-left: -390px;
}
.b10 img{
    margin-left: 127px;
    margin-top: 2px;
}
.b12{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -85px;
    margin-left: 30px;
}
.b13{
    color: #2B1414;
    display: flex;
    margin-top: -100px;
    gap: 45px;
    margin-left: 840px;
    font-size: 14px;
}
.b14{
    margin-top: 120px;
    text-align: center;
    color: #29292975;
    font-size: 14px;
}
.b15{
    color: #4E9DD3;
}
.b17{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: #292929;
}
.b18{
    border: 1px solid #EDEDF0;
    /* display: inline-block; */
    width: 271px;
    height: 346px;
    border-radius: 5px;
    color: #EDEDF0;
}
.b18 img{
    margin-left: 13px;
    margin-top: 14px;
}
.b18 h5{
    font-size: 14px;
    color: #292929;
    width: 179px;
    text-align: center;
    margin-left: 35px;
}
.b18 button{
    color: #E7426A;
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
    background-color: #fff;
    margin-left: 80px;
    margin-top: -20px;
}
.b19{
    border: 1px solid #EDEDF0;
    /* display: inline-block; */
    width: 271px;
    height: 346px;
    border-radius: 5px;
    color: #EDEDF0;
}
.b19 img{
    margin-left: 13px;
    margin-top: 14px;
}
.b19 h5{
    font-size: 14px;
    color: #292929;
    width: 179px;
    text-align: center;
    margin-left: 35px;
}
.b19 button{
    color: #E7426A;
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
    background-color: #fff;
    margin-left: 80px;
    margin-top: -20px;
}
.b20{
    border: 1px solid #EDEDF0;
    /* display: inline-block; */
    width: 271px;
    height: 346px;
    border-radius: 5px;
    color: #EDEDF0;
}
.b20 img{
    margin-left: 13px;
    margin-top: 14px;
}
.b20 h5{
    font-size: 14px;
    color: #292929;
    width: 179px;
    text-align: center;
    margin-left: 35px;
}
.b20 button{
    color: #E7426A;
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
    background-color: #fff;
    margin-left: 80px;
    margin-top: -20px;
}
.b21{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.b28{
    margin-top: -250px;
    margin-left: 150px;
}
.b24{
    font-size: 12px;
    display: flex;
    gap:  70px;
    color: #292929;
}


.b26{
    margin-left: 65px;
}
.b27{
    margin-left: 75px;
}
.b29{
    text-align: center;
    width: 95px;
    margin-left: -24px;
}
.b30{
    text-align: center;
    width: 59px;
    margin-left: -25px;
}
.b31{
    text-align: center;
    width: 90px;
    height: 52px;
    margin-left: -30px;
}
.b33{
    width: 370px;
    height: 60px;
    opacity: 70%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.62px;
    color: #292929;
    margin-top: 40px;
    margin-left: -25px;
}
.b22{
    margin-top: 50px;
}
.b34{
    margin-left: 550px;
    margin-top: -250px;
}
.b35{
    margin-left: 800px;
    margin-top: -185px;
}
.b36{
    margin-left: 1005px;
    margin-top: -250px;
}
.b37 h3{
    width: 163px;
    font-size: 18px;
    margin-left: 1220px;
    margin-top: -140px;
}
.b37 p{
    margin-left: 1270px;
    margin-top: -15px;
    font-size: 14px;
}
.b41{
    margin-left: 1235px;
    margin-top: 70px;
}
.b38{
    margin-left: -25px;
    margin-right: 20px;
}
.b39{
    /* margin-left: -20px; */
    margin-right: 20px;
}
.b40{
    /* margin-left: -20px; */
    margin-right: 20px;
}